@charset "utf-8";

/*Powered By www.toprand.com*/

/* RESET */
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0 none;font-size:100%;margin:0;padding:0;vertical-align:baseline;font-weight:normal;}
/* 默认显示右侧滚动条，保证各浏览器不出现闪动兼容BUG 当首页默认出现右侧滚动条解开注释 */
/* html{ overflow-y:scroll; overflow:-moz-scrollbars-vertical;}  */
/* body字体 */
body{ font:12px tahoma,arial,'\5B8B\4F53'; text-align:left; color:#666;}/* '\5B8B\4F53' == '宋体'  font写法字体单引号  */
/* html5 display definitions */	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{ display:block;}
/* img 保证被a标签所包含Img不出现蓝色border */
img{ border:0; -ms-interpolation-mode:bicubic; vertical-align:middle;}
/* links 待完善 a标签虚线 */
	a{ text-decoration:none;color:#666;}
	a:hover{ text-decoration:underline; color:#990000;}
	a:focus{ outline:thin dotted;}
	a:hover, a:active ,a:focus { outline:0;}
/* lists */
	ul, ol{ list-style:none;}
	li{ list-style-type:none;}
/* forms */
	form{ margin:0; display:block;}
	fieldset{ border:0; margin:0; padding:0;}
	label{ cursor:pointer;}
	button, input, select, textarea{ font:12px/1.5 tahoma,arial,'\5B8B\4F53';}
	textarea{ overflow:auto; vertical-align:top; resize:vertical;}
	
/* webkit内核 reset */
html,body{     -webkit-text-size-adjust:none;}/* 去除谷歌浏览器强制字体最小为12px*/
input:focus,textarea:focus,select:focus{outline-width:0; /* No outline border for Safary&chrome */	-webkit-text-size-adjust:none; /* 去除谷歌浏览器强制字体最小为12px */}
/* tables 完全用css实现table边框1px 减少html页面代码载入，做到结构与表现分离 */
table{ border-collapse:collapse; border-spacing:0;}
/* clear floats */
	.cf:before, .cf:after{ content:""; display:table;}
	.cf:after{ clear:both;}
	.cf{ *zoom:1;}
    .cls{clear:both; line-height:0px!important; height:0px!important;font-size:0px!important;} 
/* 原始标签属性默认 */
i{ font-style:normal;}	
.hidden{ display:none}
.rel{ position:relative;}
/* 标题 */
/* win7普及，系统默认字体是雅黑，所以标题从用户体验等方面考虑建议是用雅黑来进行弥补宋体的不足 */
.f10{ font-size:10px;}
.f11{ font-size:11px;}
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.em{ text-indent:2em;}
.red{ color:#990000;}
.Arial{ font-family:"Arial", Helvetica, sans-serif;}
.yahei{ font-family:"\5FAE\8F6F\96C5\9ED1";} 
